@font-face {
    font-family: 'font';
    src: url('../fonts/OmePlus.ttf');
}
*{
    margin: 0;
    padding: 0;
    top:0;
    left: 0;
}
html,body{
    height: 100%;
}
body{
	font-family: "font";
	font-size: 14px;
}
header{
    color: #444;
    padding-top: 8em;
}
.top{
    margin:0 auto;
    text-align: center;
    width: 90%;
}
.thumbnail{
    min-height: 280px;
}
.contents{
    margin-bottom: 15px;
    border-left: 1px #444 solid;
}
.media-caption{
    margin-left: 1em;
}
.introduction{
    position: relative;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 19px;
}
.introduction:after, .introduction:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.introduction:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 10px;
    margin-top: -10px;
}
.introduction:before {
    border-color: rgba(68, 68, 68, 0);
    border-right-color: #ccc;
    border-width: 11px;
    margin-top: -11px;
}
.fade_animation{
    display: none;
}
#icon{
    padding: 20px 0;
    text-align:center;
}
#icon img{
    max-width: 150px;
    border-radius: 100px;
}
.product_image{
    width:100%;
    min-width:100px;
}
#logo{
    max-width: 200px;
}
footer{
    margin-top: 100px;
    width: 100%;
    padding: 20px 0;
    font-size: 93%;
    text-align: center;
    background-color: #ccc;
    color: #666;
}