@font-face {
    font-family: 'font';
    src: url('../fonts/OmePlus-P-Gothic-light1.00000.ttf');
}
*{
    margin: 0;
    padding: 0;
    top:0;
    left: 0;
}
body{
	font-family: "YuGothic";
	font-size: 18px;
}

a{text-decoration: none;}
a:link{color: #ff4500;}
a:visited{color: #ff4500;}
a:hover{color:#66cdaa;}
a:active{color:#66cdaa;}

header{
    overflow: hidden;
    text-align: center;
    background-image: url("../img/header.png");
    background-size:cover;
    background-repeat: no-repeat;
}
header p{
    font-size: 60%;
    color: #929292;
}
nav{
    margin: 0 0 30px 0;
    padding: 10px 0;
    text-align: center;
    background: rgba(255,255,255,0.8);
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}
#icon{
    padding: 20px 0;
    text-align:center;
}
#icon img{
    max-width: 150px;
    border-radius: 100px;
}
#logo{
    max-width: 200px;
}
footer{
    margin-top: 100px;
    width: 100%;
    padding: 20px 0;
    font-size: 93%;
    text-align: center;
    background-color: #ccc;
    color: #666;
}

.mail{
    border-radius: 10px;
    padding: 40px 10px;
    border:1px solid #666;
}
.e_detail{
    max-width: 400px;
    margin-left: 40px;
    margin-right: 40px;
    display: inline-block;
}
.event img{
    display: inline-block;
}
.col-md-4 img{
    max-height:150px; 
}