.executive__staffs{
    display: inline-block;
    width:60%;
}
.executive__staffs p{
    font-size: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.executive__staffs a{
    font-size: 150%;
    display: inline;
}
.executive__staffs li{
    list-style: none;
    border: 1px solid #ccc;
    white-space: nowrap;
    width: 80%;
    margin-top: 30px;
    border-top-left-radius: 20px;
    text-align: left;
    padding-left:30px;
    overflow: hidden;
    height: 220px;
    max-height: 200px;
}
.executive__staffs li img{
    width: 20%;
    height: 40%;
}
.member__search{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    text-align: left;
}
.job__title{
    float: right;
    margin-right: 20%;
    background:url("../img/b400.png");
    min-width: 35%;
    padding: 16px;
    text-align: center;
}
