<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8"> 
        <title>ホーム -RBM</title>
		<link rel="stylesheet" type="text/css" href="css/main.css">
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="http://vuejs.org/js/vue.min.js"></script>
        <script src="./js/main.js"></script>
        <link rel="stylesheet" href="css/lightbox.css" type="text/css" media="screen" />    
        <script src="js/lightbox.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="wrapper">
                                                            
            <div class="h__message">
                <a href="./index.html"><img src="./img/logo.png" class="logo"></a>
                <h1>ーRBMー立命館琵琶湖草津漫画研究会</h1>
                <hr>
            </div>
            
            <div class="g__menu">
                <ul>
                    <li><a href="./index.html" class="lsf-icon" id="home" title="ホーム">ホーム</a></li>
                    <li><a href="http://ritsrbm.blog129.fc2.com/" target="_blank" class="lsf-icon" id="pen" title="ブログ">ブログ</a></li>
                    <li><a href="./html/activity.html" class="lsf-icon" id="memo" title="活動内容">活動内容</a></li>
                    <li><a href="./html/link.html" class="lsf-icon" id="link" title="リンク">リンク</a></li>
                    <li><a href="./html/member.html" class="lsf-icon member__page" id="group" title="会員紹介">会員紹介</a></li>
                    <li><a href="./html/contact.html" class="lsf-icon" id="mail"title="連絡先">連絡先</a></li>
                </ul>
            </div>
            
            <div class="header__wrapper">
                <div class="h__content">
                    <img src="./img/header.jpg">
                </div>
            </div>
       
            
            
            
			<div class="main__wrapper">                
                
                <div class="t__wrapper">
                        <div class="top__picture" v-repeat="member">
                            <h2>{{n_month}}月のトップ絵(×{{number}})</h2>
                            <a href="html/top_illusts.html" class="find__all top__find" >もっとみる</a>
                            <div class="top__picture__detail">
                            
                            
                            <div class="illustrator__wrapper" v-if="append_flag">
                                <a href="{{img}}" data-lightbox="image" class="pictimg"><img src="{{img}}"></a>
                                    <p>illustrator</p>
                                    <a  href="./html/userpage.html?id={{id}}" class="illustrator">{{name}}</a>
                            </div>
                            <img src="{{img}}" v-if="empty_flag">
                            </div>
                        </div>                    
                </div>     
                <a class="twitter-timeline" href="https://twitter.com/rits_rbm" data-widget-id="559387013451755520" width="220" data-tweet-limit="2">@rits_rbmさんのツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        
                <div class="article__wrapper">
                    <div class="record caption">
                        <h2>更新履歴</h2>
                        <div class="record__detail">
                            <ul>
                                <li v-repeat="json">
                                    <span class="rec__date">{{date}}</span>
                                    <div class="rec__detail">
                                        <a href="{{url}}" v-if="link" target="_blank">{{link}}</a>
                                        <span v-if="detail">{{detail}}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <a href="./html/history.html" class="find__all">一覧を見る</a>
                    </div>
                    <div class="event caption">
                        <h2>イベント情報</h2>
                        <div class="event__detail" v-repeat="json">
                            <img v-attr="src:img">
                            <div class="event__message">
                                <h3>{{title}}</h3>
                                <p>{{detail}}</p>
                            </div>
                        </div>    
                        <a href="./html/event.html?archive={{n_year}}" class="find__all">過去のイベントを見る</a>
                    </div>
                </div>
            </div>
        <div class="fooder__wrapper">
            <div class="f__menu">
                <ul>
                    <li><a href="./index.html">ホーム</a></li>
                    <li><a href="http://ritsrbm.blog129.fc2.com/" target="_blank">ブログ</a></li>
                    <li><a href="./html/activity.html">活動内容</a></li>
                    <li><a href="./html/link.html">リンク</a></li>
                    <li><a href="./html/member.html">会員紹介</a></li>
                    <li><a href="./html/contact.html">連絡先</a></li>
                </ul>
            </div>
        </div>
	</body>
</html>