.event__wrapper{
    width: 70%;
    display: inline-block;
}
.event__list p{
    width: 400px;
    display: inline-block;
    vertical-align: top;
}

.event__list h3{
    border-bottom:2px solid #ff9f89;
    padding: 10px;
    text-align: left;
}

.event__list li{
    text-align: left;
    width: 100%;
    list-style: none;
    margin-top: 40px;
    border: 1px solid #ccc;
    padding: 20px;
}
.event__list li>img{
    width:200px;
}
.date p{
    width: 110px;
    text-align: center;
}
.date{
    float: left;
    margin-top: -30px;
    background: #fff;
    border-radius: 40px;
    padding: 5px;
    width: 110px;
    position: relative;
    display:inline-block;
    text-align:left;
    background-color:#ffffff;
    border:1px solid #1b1b1b;
}
.date:after, .date:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
}
.date:after {
    top: 98%;
    left: 22px;
    border: 10px solid transparent;
    border-top: 12px solid #ffffff;
}
.date:before {
    top: 100%;
    left: 20px; 
    border: 12px solid transparent;
    border-top: 14px solid #1b1b1b;
}

.l__menu{
    display: inline-block;
    width: 20%;
    vertical-align: top;
    text-align: left;
}
.l__menu li{
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    list-style: none;
}