.main__wrapper{
    text-align: left;
    width: 100%;
}
.panel__wrapper{
    display: inline-block;
    width: 60%;
    text-align: left;
    margin-left: 5%;
}
.panel__wrapper h2{
    vertical-align: middle;
}
.panel__wrapper h2:before{
    content: url("../img/next.png");
}
.illustrator__detail{
    display: inline-block;
    font-size: 120%;
}

.l__menu{
    display: inline-block;
    width: 24%;
    text-align: left;
    vertical-align: top;
    text-align: center;
}
.l__menu li{
    margin-bottom: 10px;
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    list-style: none;
}
.l__menu li a:after{
    content:" >"
}
.number1 img{
    width: 50%;
}
.number2,.number3{
    display: inline-block;
    margin-right: 4%;
    width: 45%;
}
.number2 img,.number3 img{
    width: 60%;
}
