.rbm__member{
    display: inline-block;
    width:60%;
}
.rbm__member p{
    font-size: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.rbm__member a{
    font-size: 150%;
    display: inline;
}
.rbm__member li{
    list-style: none;
    border: 1px solid #ccc;
    white-space: nowrap;
    width: 80%;
    margin-top: 30px;
    border-top-left-radius: 20px;
    text-align: left;
    padding-left:30px; 
    overflow: hidden;
    height: 220px;
    max-height: 200px;
}
.rbm__member li img{
    width: 20%;
    height: 40%;
}
.member__search{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    text-align: left;
}
.other__executive{
    display: inline-block;
    text-align: left;
}
.other__executive li{
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    list-style: none;
}
.other__executive li a:after{
    content:" >"
}
.rbmlist__link{
    margin-top: 30px;
}
.rbmlist__link a{
    border-bottom: 1px solid #ccc;
    color: #3fbf67;
    padding: 20px;
}
.rbmlist__link a:hover{
    color: #ff4f4f;
    border-bottom: 1px solid #ff4f4f;
}
.rbmlist__link a:before{
    content:"> "
}