.search__wrapper{
    margin-top: 30%;
}

.l__member__detail{
    display: inline-block;
    text-align: left;
    width: 30%;
}
.l__member__detail h2{
    text-align: center;
}
.search__member img{
    width: 100%;
    /* border-radius */
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;

/* box-shadow */
    box-shadow:rgba(113, 135, 164, 0.65098) 0px 0px 5px 1px;
    -webkit-box-shadow:rgba(113, 135, 164, 0.65098) 0px 0px 5px 1px;
    -moz-box-shadow:rgba(113, 135, 164, 0.65098) 0px 0px 5px 1px;
}
.l__member__detail h1{
    text-align: center;
}
.r__member__detail{
    display: inline-block;
    width: 60%;
    margin-left: 40px;
    vertical-align: top;
    border: 1px solid #ccc;
}
table{
    width: 100%;
}
tr{
    height:70px;
}
.td__user{
    width:40%;
    border: 1px solid #ccc;
}
.td__temp{
    width: 20%;
    border: 1px solid #ccc;
}
.member__search{
    width: 100%;
    text-align: left;
}
.search__top{
    text-align: left;
}
.icon{
    display: inline-block;
}
.top_pict_link{
    display: inline-block;
}
.profile__word{
    text-align: left;
    padding: 20px;
}

.other__executive{
    display: inline-block;
    text-align: left;
}
.other__executive li{
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    list-style: none;
}
.other__executive li a:after{
    content:" >"
}
#notify{
    display: inline-block;
    font-size: 26px;
}
.top__pict__link p{
    display: inline-block;
}
.top__pict__link{
    padding-left: 30px;
    border-bottom:2px solid #4a4037;
}