.introduction{
    width: 100%;
    padding: 25px;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    text-align: center;
}
.introduction h2{
    width: 600px;
    margin: 0 auto;
}
.introduction img{
    width:600px;
}
.detail{
    margin: 0 auto;
    margin-top: 30px;
    width: 55%;
    min-width: 600px;
    padding: 15px;
    text-align: left;
}
.twitter-tweet{
    margin: 0 auto;
    text-align: center;
}